@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using LawFirmTemplate.Data.Entities;
@model ClientSays
<h1>Edit Client Says</h1>

<style>
    .ImageSize {
        width: 200px;
        height: 200px;
    }
</style>


<form asp-action="EditClientSays" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <input asp-for="Id" value="@Model.Id" hidden />
    <div class="form-group">
        <label for="Name">Firma Adı</label>
        <input type="text" class="form-control" id="Name" placeholder="" asp-for="Name" value="@Model.Name">
    </div>

    <div class="form-group">
        <label for="Description">Başlık</label>
        <input type="text" class="form-control" id="Title" asp-for="Title" value="@Model.Title">
    </div>

    <div class="form-group">
        <label for="Description">Açıklama</label>
        <input type="text" class="form-control" id="Description" asp-for="Description" value="@Model.Description">
    </div>
    <div class="form-group">
        <label for="Description">Sıralama</label>
        <input type="number" class="form-control" id="Order" asp-for="Order" value="@Model.Order">
    </div>


    <div class="form-group">
        <label for="ImageFile">Image Upload</label>
        <input type="file" class="form-control-file" id="ImageFile" name="ImageFile">
    </div>
    <div class="form-group">
        <label for="ImageFile">Mevcut Resim</label>
        <img class="ImageSize" src="@Model.ImageUrl" style="max-height: 400px; width: auto; border: 1px solid red;">

    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
