@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using LawFirmTemplate.Data.Entities;
@model List<User>


<a asp-action="AddUser" class="btn btn-primary"> Takım Üyesi Ekle</a>
<p></p>

<table class="table table-bordered">
    <thead>
        <tr>

            <th scope="col">Order</th>
            <th scope="col">Adı</th>
            <th scope="col">Maili</th>
            <th scope="col"></th>
            <th scope="col">Resim</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Order</td>
                <td><a asp-action="EditUser" asp-route-Id="@item.Id">@item.DisplayName</a> </td>
                <td>@item.Mail</td>
                <td><a asp-action="DeleteUser" asp-route-Id="@item.Id" class="btn btn-danger">Sil</a></td>
                <td> <img class="ImageSize" src="@item.ImageUrl" style="max-height: 100px; width: auto;"></td>
            </tr>
        }


    </tbody>
</table>

